 <div class="container-fluid footer__container">
    <div class="row footer__container_row h-100">
        <div class="col-xs-12 col-lg-4">
            <ul>
                <li>
                    <a class="text-uppercase" href="#">learn more</a>
                </li>
                <li>
                    <a href="#">ABOUT US</a>
                </li>
                <li>
                    <a href="#">DOWNLOAD</a>
                </li>
                <li>
                    <a href="#">PRESS</a>
                </li>
                <li>
                    <a href="#">HELP</a>
                </li>
                <li>
                    <a href="#">TERMS & PRIVACY</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-4">
            <ul>
                <li>
                    <a href="#">GET IN TOUCH</a>
                </li>
                <li>
                    <a href="#">(415) 602-9025</a>
                </li>
                <li>
                    <a href="#">INFO@LOCONOMICS.COM</a>
                </li>
                <li>3150 18TH STREET, SUITE 438<br/>SAN FRANCISCO, CA 94111</li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-3">
            <ul>
                <li>FOLLOW US</li>
                <li>
                    <div class="footer__container_social-icons">
                      <a href="#"><img src="img/social/facebook.svg" /></a>
                      <a href="#"><img src="img/social/instagram.svg" /></a>
                      <a href="#"><img src="img/social/twitter.svg" /></a>
                      <a href="#"><img src="img/social/google.svg" /></a>
                      <a href="#"><img src="img/social/pinterest.svg" /></a>
                  </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-1">
            <div class="img__container_eo-logo align-bottom">
                <img width="100" src="img/logos/eo-small.png" />
            </div>
        </div>
    </div>
</div>