{{ if .Site.Params.footer }}
{{ $base_footer := .Site.Params.footer }}
 <div class="container-fluid footer__container">
    <div class="row footer__container_row h-100">
        <div class="col-xs-12 col-lg-4">
            <ul>
              {{ range $base_footer.row0 }}
                <li>
                    {{ if .islink }}
                      <a class="text-uppercase" href="{{ .url }}">{{ .name | safeHTML }}</a>
                    {{ else }}
                      <span class="text-uppercase">{{ .name | safeHTML }}</span>
                    {{ end }}
                </li>
              {{ end }}
            </ul>
        </div>
        <div class="col-xs-12 col-lg-4">
            <ul>
              {{ range $base_footer.row1 }}
                <li>
                    {{ if .islink }}
                      <a class="text-uppercase" href="{{ .url }}">{{ .name | safeHTML }}</a>
                    {{ else }}
                      <span class="text-uppercase">{{ .name | safeHTML }}</span>
                    {{ end }}
                </li>
              {{ end }}
            </ul>
        </div>
        <div class="col-xs-12 col-lg-3">
            <ul>
              {{ range $base_footer.row2 }}
                <li>
                    {{ if .islink }}
                      <a class="text-uppercase" href="{{ .url }}">{{ .name | safeHTML }}</a>
                    {{ else }}
                      <span class="text-uppercase">{{ .name | safeHTML }}</span>
                    {{ end }}
                </li>
              {{ end }}
                <li>
                    <div class="footer__container_social-icons">
                      {{ range $base_footer.social }}
                        <a href="{{ .url }}"><img src="{{ .image_path }}" /></a>
                      {{ end }}
                  </div>
                </li>
            </ul>
        </div>
        <div class="col-xs-12 col-lg-1">
            <div class="img__container_eo-logo align-bottom">
                <img width="100" src="/images/logos/eo-small.png" />
            </div>
        </div>
    </div>
</div>
{{ end }}
