 <footer class="Footer">
    <nav>
        <ul>
            <li>
                <h2>LEARN MORE</h2>
            </li>
            <li>
                <a href="/pages/about">ABOUT US</a>
            </li>
            <li>
                <a href="#">DOWNLOAD</a>
            </li>
            <li>
                <a href="/pages/press">PRESS</a>
            </li>
            <li>
                <a href="#">HELP</a>
            </li>
            <li>
                <a href="#">TERMS & PRIVACY</a>
            </li>
        </ul>
        <ul>
            <li>
                <h2>GET IN TOUCH</h2>
            </li>
            <li>
                <a href="tel:(415) 602-9025">(415) 602-9025</a>
            </li>
            <li>
                <a href="mailto:INFO@LOCONOMICS.COM">INFO@LOCONOMICS.COM</a>
            </li>
            <li>3150 18TH STREET, SUITE 438<br/>SAN FRANCISCO, CA 94111</li>
        </ul>
        <ul>
            <li><h2>FOLLOW US</h2></li>
            <li>
                <a href="#"><img src="/images/social/instagram.svg" alt="Instagram" /></a>
                <a href="#"><img src="/images/social/facebook.svg" alt="Facebook" /></a>
                <a href="#"><img src="/images/social/twitter.svg" alt="Twitter" /></a>
                <a href="#"><img src="/images/social/google.svg" alt="Google" /></a>
                <a href="#"><img src="/images/social/pinterest.svg" alt="Pinterest" /></a>
            </li>
        </ul>
    </nav>
    <div class="Footer-eoBadge">
        <img width="100" src="/images/logos/eo-small.png" />
    </div>
</footer>
