<nav class="PrimaryNavbar">
    <a class="PrimaryNavbar-brand" href="/">
        <img class="PrimaryNavbar-logo" src="/images/logos/loconomics-white.svg" height="75" alt="Loconomics Logo">
        <img class="PrimaryNavbar-altLogo" src="/images/logos/loconomics-teal.svg" height="75" alt="Loonomics Logo" aria-hidden="true">
    </a>
    <button class="navbar-toggler"
        type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link PrimaryNavbar-signupLink" x-tag-label="nav"
                    href="https://www.loconomics.coop/sign_up?from=https%3A%2F%2Fwww.loconomics.com%2F%3Fautojoin%3D1&space_id=302531&button_id=NAV">Join 90 Days Free</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" x-tag-label="nav"
                    href="https://www.loconomics.coop/sign_in?from=https%3A%2F%2Fwww.loconomics.com%2F%3Fautojoin%3D1&button_id=NAV">SIGN IN</a>
            </li>
        </ul>
    </div>
</nav>
