<nav class="PrimaryNavbar">
    <a class="PrimaryNavbar-brand" href="/">
        <img class="PrimaryNavbar-logo" src="/images/logos/loconomics-white.svg" height="75" alt="Loconomics Logo">
        <img class="PrimaryNavbar-altLogo" src="/images/logos/loconomics-teal.svg" height="75" alt="Loonomics Logo" aria-hidden="true">
    </a>
    <button class="navbar-toggler"
        type="button" data-toggle="collapse"
        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarNavDropdown" class="navbar-collapse collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="pages/about/">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SIGN UP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">SIGN IN</a>
            </li>
        </ul>
    </div>
</nav>
