<section id="press" class="PressSection">
    <ul>
        <li>
            <img src="/images/press-logos/the-new-york-times.png" aria-hidden="true" />
            <div class="sr-only">The New York Times</div>
        </li>
        <li>
            <img src="/images/press-logos/san-francisco-chronicle.svg" aria-hidden="true" />
            <div class="sr-only">San Francisco Chronicle</div>
        </li>
        <li>
            <img src="/images/press-logos/the-nation.jpg" aria-hidden="true" />
            <div class="sr-only">The Nation</div>
        </li>
        <li>
            <img src="/images/press-logos/shareable.jpg" aria-hidden="true" />
            <div class="sr-only">Shareable</div>
        </li>
        <li>
            <img src="/images/press-logos/fast-company.svg" aria-hidden="true" />
            <div class="sr-only">Fast Company</div>
        </li>
        <li>
            <img src="/images/press-logos/east-bay-express.png" aria-hidden="true" />
            <div class="sr-only">East Bay Exprss</div>
        </li>
        <li>
            <img src="/images/press-logos/financial-times.png" aria-hidden="true" />
            <div class="sr-only">Financial Times</div>
        </li>
    </ul>
</section>
