<section id="testimonials" class="SlideshowSection">
    <h2>Testimonials</h2>
    <ul class="SlideshowSection-index">
        <li><a href="#testimonials-slide-1" aria-current="true"><span class="sr-only">YaVette Holts</span></a></li>
        <li><a href="#testimonials-slide-2"><span class="sr-only">Christopher Tellez</span></a></li>
        <li><a href="#testimonials-slide-3"><span class="sr-only">Anahi Rojas</span></a></li>
    </ul>
    <ul class="SlideshowSection-content">
        <li id="testimonials-slide-1" aria-current="true">
            <picture><img src="/images/bio/yavette.jpg" alt="Portrait of YaVette Holts" /></picture>
            <div>
                <blockquote>
                    I like that I run my own business but have the support of Loconomics to keep my schedule flowing and organized.
                </blockquote>
                <cite>YaVette Holts, One Presence Massage</cite>
            </div>
            <iframe title="Video testimonial by YaVette Holts" width="640" height="564"
                src="https://player.vimeo.com/video/308582814" frameborder="0"
                allowFullScreen mozallowfullscreen webkitAllowFullScreen
                x-tag-label="testminonial_yavette"></iframe>
        </li>
        <li id="testimonials-slide-2">
            <picture><img src="/images/bio/christopher.jpg" alt="Portrait of Christopher Tellez" /></picture>
            <div>
                <blockquote>
                    I love being part of something bigger and radical. Loconomics is bringing local service professionals together with a progressive team of technologists to facilitate our success. Even better, I share the profits and help influence decisions.
                </blockquote>
                <cite>Christopher Tellez, SF Reiki Center</cite>
            </div>
            <iframe title="Video testimonial by Christopher Tellez" width="640" height="564"
                src="https://player.vimeo.com/video/308583445" frameborder="0"
                allowFullScreen mozallowfullscreen webkitAllowFullScreen
                x-tag-label="testimonial_christopher"></iframe>
        </li>
        <li id="testimonials-slide-3">
            <picture><img src="/images/bio/anahi.jpg" alt="Portrait of Anahi Rojas" /></picture>
            <div>
                <blockquote>
                    I've worked for 7 years in different cooperatives and am proud to be part of Loconomics. We work as a team and at the same time I can own my own business with the confidence that we share the profits of this platform with nobody else. We learn and share leadership positions,
                    make decisions and grow personally.
                </blockquote>
                <cite>Anahi Rojas, Professional Eco-Cleaning</cite>
            </div>
            <iframe title="Video testimonial by Anahi Rojas" width="640" height="564"
                src="https://player.vimeo.com/video/308582962" frameborder="0"
                allowFullScreen mozallowfullscreen webkitAllowFullScreen
                x-tag-label="testimonial_anahi"></iframe>
        </li>
    </ul>
    <div class="SlideshowSection-controls">
        <a class="SlideshowSection-prev" aria-label="Previous slide">&#10094;</a>
        <a class="SlideshowSection-next" aria-label="Next slide">&#10095;</a>
    </div>
</section>
