{{ if .Params.three_columns_with_title }}
{{ $content := .Params.three_columns_with_title }}
<section id="three-columns-with-title" class="ServicesSection">
    <div class="container container-padding container-services">
        <div class="row">
            <div class="col-xs-12 col-lg-12 text-center">
                <h3>{{ $content.title }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range $content.columns }}
            <div class="col-xs-12 col-lg-4 text-center">
                <img src="{{ .image_path }}" />
                <h4>{{ .title }}</h4>
                <p>{{ .description }}</p>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
