/**
 * Playground: try new styles without think on the organization and naming,
 * for Work In Progress, BUT REMEMBER you move them to proper file linked at
 * main.scss when is stable and remove trials (this file should be empty when
 * releasing to production).
 *
 * REMEMBER: theme.scss and Boostrap variables are available (check that files for reference).
 * Overrides to global variables should be done directly at theme.scss even if just
 * testing.
 */

/// Custom resets (remember we have loaded Bootstrap4-reboot styles)
// TODO: Should we reset this or just use list-unstyled class on wanted elements?
ul { list-style: none; }
// TODO: Review, I vote to remove this since Bootstrap have a variable for this ($link-color)
// that applies properly and without the 'important' modifier --that will cause problems;
// I prefer we set links to white just in the cases we really want that, and keep others
// in the default ('primary') color. Some usages of links mixed with text without differentiation
// could lead to a an accessibility issue.
a { color: #fff !important; }

/// Color classes utilities
// TODO: Prefer semantic names
// TODO: Bootstrap defines $light variable for a common light gray, prefer to override
// that color at theme.scss rather than create several versions (for consistency); it
// evens defines 9 levels of gray $gray-100 to $gray-200 being $gray-100 used for $light
$color-lightgray: #f4f4f6;
// TODO: Bootstrap defines a $blue and the semantic color $primary (defaults to $blue),
// being semantic names preferred. Then, if this blue color is the same wanted as general
// primary color, should be overrided at theme.scss and use the Bootstrap class utility.
$color-blue: #287FC6;

.background-lightgray {
    background-color: $color-lightgray;
}

.background-white {
    background-color: $white;
}

.background-blue {
    background-color: $color-blue;
}

/// WIP

/* Hero */
.home-hero__background {
	background-image: url('../img/hero/hero1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
    margin-top: -100px;
}

/* Footer */
.footer__container {
    padding: 80px;
    background-color: #007a7c;
    color: #fff;
    font-size: 0.8em;
}

.footer__container li {
    margin: 10px 0;
}

.footer__container_social-icons img {
  width: 1.25em;
  margin-right: 10px;
}


@media screen and (max-width: 991px) {
  .img__container_eo-logo {
    text-align: center;
  }

  .text-responsive-left {
    text-align: center;
  }

  .footer__container_row ul li {
      text-align: center;
  }
}

// Navbar has an overflowing padding, workaround to prevent white space with
// the current base font-size
#primary-nav {
    padding-top: 5px;
}

/// More WIP in other pages, coming from src/bootstrap/css/styles.css

.navbar-toggler {
    border: 0 !important;
}

// TODO: Remove or relocate, this is a global change, should go into main.scss or
// scoped for specific case
img { max-width: 100%; max-height: 100%; }

// TODO: Remove and fix markup for this: this looks like a hack, needed because the proper wrapper around
// the row was not used (parent should be a container, container-fluid or column class)
/* fixes bootstrap 4 from adding margin-right 15 px to scrollbar */
.row {
  margin-right: 0;
}

.border-padding {
  padding: 80px;
}

.text-responsive-left {
  text-align: left;
}

.color-white {
  color: #fff;
}

.color-black {
  color: #000;
}

.color-gray {
    color: #dfdfdf;
}

.width-full {
  width: 100%;
}

// TODO: Review, this change is too global, should be a Bootstrap variable change
// if exist or a reset at main.scss if really should be global, or scoped into a
// section/component/page otherwise
p {
    color: #959595;
}

.background-lightgray {
    background-color: #f4f4f6;
}

.background-white {
    background-color: #fff;
}

.background-blue {
    background-color: #287FC6;
}

.section-title {
    padding-bottom: 60px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.section-hero {
    color: #fff;
}

.container-padding {
    padding: 80px 0;
}

.section-container-padding {
    padding: 70px 0;
}




.fader {
    -moz-transition: opacity 0.7s linear;
    -o-transition: opacity 0.7s linear;
    -webkit-transition: opacity 0.7s linear;
    transition: opacity 0.7s linear;
}

.fader.fadedOut {
    opacity: 0;
    background-color: red;
}




.home-hero-bg {
    background-image: url('../images/hero1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
    margin-top: -100px;
}

.btn-cta-red {
    background-color: #c44d52;
    border: 0;
    border-radius: 0;
    padding: 10px 35px;
}

.btn-cta-red:hover {
    background-color: #c44d52;
    opacity: 0.8;
}


.involved {
    background-image: url('../images/get-involved.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;

}

.involved p {
    color: #fff;
}

.involved h3 {
    color: #fff;
}

.btn-border-white {
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 0;
    padding: 10px 35px;
    margin: 10px 10px 10px 0;
    color: #fff;
}

.btn-border-white:hover {
    background-color: #fff;
    color: rgba(0,0,0,0.3);
    outline: 0;
}

/* services section */

.container-services h3 {
    padding-bottom: 25px;
}

.container-services img {
    width: 200px;
    padding: 20px 0;
}

.container-services p {
    margin: 0 40px;
    color: #999;
}

.jumbotron {
    border-radius: 0;
}

.footer {
    padding: 80px;
    background-color: #007a7c;
    color: #fff;
    font-size: 0.8em;
}

.footer li {
    margin: 10px 0;
}

.footer .social-icons img {
  width: 20px;
  margin-right: 10px;
}

#container-outer-member-owned {
    padding: 100px;
}

#container-inner-member-owned {
    padding: 50px;
}

.arrow-box {
	position: relative;
	background: #fff;
}
.arrow-box:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
	border-width: 20px;
	margin-left: -20px;
}

/* slideshow */
* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.slideshow-dots-container {
  text-align: center;
  position: relative;
  bottom: 20px;
  color: #fff;
}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  color: #fff;
}

.active, .dot:hover {
  background-color: #fff;
}

/* Fading animation */
.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fader {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fader {
  from {opacity: .4}
  to {opacity: 1}
}

@media screen and (max-width: 575px) {
  .container-fluid p {
    margin-left:20px;
    margin-right:20px;
  }
  .border-padding {
    padding: 10px;
  }
}

@media screen and (max-width: 991px) {
  .symbol-container {
    text-align: center;
  }

  .text-responsive-left {
    text-align: center;
  }

  .footer-row ul li {
      text-align: center;
  }
}
