* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'NunitoSans';
    src: url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700');
}

body {
	font-family: 'NunitoSans', Arial, Helvetica, sans-serif;
	font-size: 18px;
}

ul { list-style: none; }

a { color: #fff !important; }

/* Hero */
.home-hero__background {
	background-image: url('../img/hero/hero1.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 500px;
    margin-top: -100px;
}



/* Footer */
.footer__container {
    padding: 80px;
    background-color: #007a7c;
    color: #fff;
    font-size: 0.8em;
}

.footer__container li {
    margin: 10px 0;
}

.footer__container_social-icons img {
  width: 1.25em;
  margin-right: 10px;
}


@media screen and (max-width: 991px) {
  .img__container_eo-logo {
    text-align: center;
  }

  .text-responsive-left {
    text-align: center;
  }

  .footer__container_row ul li {
      text-align: center;
  }
}