{{ partial "head.html" . }}
{{ partial "header.html" . }}
	<body>
	    <section id="section__home-hero">
	        <div class="home-hero__background">
	            <div class="container h-100">
	              <div class="row align-items-center h-100">
	                  <div class="col text-center">
	                    <h1>Hero Title</h1>
	                    <h4>Hero Description Text</h4>
	                    <button class="btn btn-primary btn-cta-red">JOIN TODAY</button>
	                  </div>
	              </div>
	            </div>

	          </div>
	    </section>

	    <section>
			{{ range .Data.Pages }}
				{{.Content}}
			{{ end }}
	    </section>
	{{ partial "footer.html" . }}
	</body>
</html>