	{{ partial "head.html" . }}
	<body id="{{ .Params.id }}">
		<header>
			{{ partial "header.html" . }}
			<section id="section__home-hero">
				<div class="home-hero__background">
					<div class="container h-100">
						<div class="row align-items-center h-100">
							<div class="col text-center">
								<h1>{{ .Param "hero.title" }}</h1>
								<h4>{{ .Param "hero.description" }}</h4>
								<a class="btn btn-primary btn-cta-red">{{ $.Param "hero.ctalabel" }}</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</header>
		<main>
			{{ .Content }}
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
