	{{ partial "head.html" . }}
	<body id="{{ .Params.id }}">
		<header>
			{{ partial "header.html" . }}
			<section class="HeroSection">
				<div class="HeroSection--content">
					<h1>{{ .Params.hero_title }}</h1>
					{{ if .Params.hero_description }}<p>{{ .Params.hero_description }}</p>{{ end }}
					<iframe width="480" src="https://player.vimeo.com/video/310369513?autoplay=1&title=0&byline=0&portrait=0"
						frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
					<a href="https://www.loconomics.coop/sign_up?from=https%3A%2F%2Fwww.loconomics.com%2F%3Fautojoin%3D1&space_id=302531&button_id=HOME_HERO">BECOME FOUNDING MEMBER</a>
				</div>
			</section>
		</header>
		<main>
			{{ .Content }}
		</main>
		{{ partial "footer.html" . }}
	</body>
</html>
