// source: https://css-tricks.com/snippets/sass/css-triangle-mixin/
// Updated to not use function opposite-direction, wasn't working, replacing
// the $direction param with $from and $to

/// Triangle helper mixin
/// @param {Direction} $from - Triangle direction, either `top`, `right`, `bottom` or `left`
/// @param {Direction} $to - Opposite of $from, either `top`, `right`, `bottom` or `left`
/// @param {Color} $color [currentcolor] - Triangle color
/// @param {Length} $size [1em] - Triangle size
@mixin triangle($from, $to, $color: currentcolor, $size: 1em) {
    @if not index(top right bottom left, $from) and not index(top right bottom left, $to) {
         @error "Direction must be either `top`, `right`, `bottom` or `left`.";
    }

    width: 0;
    height: 0;
    content: '';
    z-index: 2;
    border-#{$from}: ($size * 1.5) solid $color;

    $perpendicular-borders: $size solid transparent;

    @if $to == top or $to == bottom {
        border-left:   $perpendicular-borders;
        border-right:  $perpendicular-borders;
    } @else if $to == right or $to == left {
        border-bottom: $perpendicular-borders;
        border-top:    $perpendicular-borders;
    }
}
