/**
 * CardSection CSS component: an horizontal section in the page
 * showing a large card to highlight a topic with an attached image.
 */

@import '../theme';

.CardSection {
    // TODO: Bootstrap defines $light variable for a common light gray, prefer to override
    // that color at theme.scss rather than create several versions (for consistency); it
    // evens defines 9 levels of gray $gray-100 to $gray-200 being $gray-100 used for $light
    $outerColor: #f4f4f6;
    $imgWidth: 420px;
    $imgMdWidth: 330px;
    $imgSmWidth: 240px;

    padding: 90px 70px;
    background-color: $outerColor;

    .CardSection-card {
        position: relative;
        overflow: hidden;

        // We want a 'cover' effect where the image taking the full height
        // of the card, without margin, and restricted width, respecting
        // a gap with the content (the div).
        // To make it, rather than using extra containers or object-fit that is
        // out of support scope, we display the left part of the image making
        // it grow the height and let the extra width to fall back the content
        // that overlay with a background that makes the card color.
        > img {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 0;
            height: 100%;
        }

        > div {
            padding: 2em 4em;
            background: white;
            margin-left: $imgWidth;
            position: relative;
            z-index: 2;
        }

        h2 {
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 1.3rem;
        }
    }

    @include media-breakpoint-down(lg) {
        .CardSection-card > div {
            margin-left: $imgMdWidth;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 1.6rem 3rem;

        .CardSection-card > div {
            margin-left: $imgSmWidth;
        }
    }

    // On small size, different strategy:
    // - image on top, stacked (as usually on small screen)
    // - no card effect: no gray, image full width and top
    // - white background full width
    // - content with good gap but without excess
    @include media-breakpoint-down(sm) {
        padding: 0;
        // We could keep a card effect with a very small gap to don't make
        // text unreadable on phone with next padding plus a few smaller div pad:
        // padding: .5rem .5rem;

        .CardSection-card {
            > img {
                position: static;
                width: 100%;
            }

            > div {
                padding: 1.5rem;
                margin-left: 0;
            }
        }
    }
}
