/**
 * FAQs CSS component: contains a definition list with questions and answers,
 * where answers are initially collapsed
 */

@import '../theme';

.Faqs {
    $tran-duration: 400ms;

    dl {
        padding: 0;
        margin: 0;
    }

    dt {
        font-weight: 600;
        display: block;
        padding: .6rem 2rem;
        cursor: pointer;
        color: $black;
        border-bottom: 1px solid $gray-300;

        &:last-of-type {
            border-bottom: none;
        }

        &::before {
            content: '-';
            color: #2a7fb5;
            font-size: 1.3rem;
            margin-right: 1.3rem;
            width: 1rem;
            text-align: center;
            display: inline-block;
        }

        &[aria-expanded="false"]::before {
            content: '+';
        }
    }

    dd {
        display: block;
        margin: .6rem 2rem 2rem 4.3rem;
        // Never will reach this height, is just to enable transition to it
        // (cannot be done with height cause of content calculated size)
        max-height: 900px;
        // It's important we use an easing that allow us to prevent delays caused
        // by the extra unneeded height, and so we use the inverted one when hidden
        // (it's a workaround for the bad side effect of this technique)
        // but only on the max-height
        transition: max-height $tran-duration cubic-bezier(1,0,1,0),
                    margin $tran-duration;
        overflow: hidden;

        &[hidden] {
            display: block !important;
            // Both height and margins must collapse
            max-height: 0;
            margin-top: 0;
            margin-bottom: 0;
            transition: max-height $tran-duration cubic-bezier(0,1,0,1),
                        margin $tran-duration;
        }
    }
}
