/**
 * Footer CSS component is the common layout footer with secondary navigation
 * links.
 */
 @import '../theme';

.Footer {
    position: relative;
    padding: 4.5rem 1.5rem;
    background-color: #007a7c;
    color: #fff;

    h2,
    li {
        font-size: 0.8rem;
    }

    h2 {
        font-weight: bold;
        color: inherit;
    }

    nav {
        max-width: 49rem;
        margin: auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        > ul {
            @extend .list-unstyled;

            margin: 0 1.5rem 1rem;

            > li {
                margin: 1rem 0;
                font-weight: 300;

                > a {
                    color: White;
                }
            }
        }

        img {
            margin-right: .5rem;
            height: 1rem;
        }
    }

    .Footer-eoBadge {
        // Aligned at the bottom right corner, except on too narrow sizes
        position: absolute;
        bottom: 2rem;
        right: 2rem;

        @include media-breakpoint-down(md) {
            position: static;
            margin: 2rem 2rem 0;
            text-align: center;
        }
    }
}
