/**
 * HeroSection CSS component: an horizontal section in the page
 * showing a hero image, text and optional description and action button.
 */

@import '../theme';
@import './_HeroButton';

.HeroSection {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    // Image must be set by the page using this component using something like
    //background-image: url('../images/hero/home1.jpg');
    // and too other images adjustments, like aligning or section height

    // Layout
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;

    // Black overlay on top of the background image, so text is readable
    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        background-color: rgba(0,0,0,.4);
    }

    .HeroSection--content {
        width: 100%;
        color: White;
        padding: 0 1.5rem;
        // On top of the background overlay
        position: relative;
        z-index: 2;
        max-width: 60rem;
        margin: auto;

        @include media-breakpoint-down(md) {
            // Prevent to overlay the top fixed navbar
            padding-top: 70px;
        }

        > p {
            font-size: 1.5rem;
        }

        > h1 {
            color: inherit;
        }

        > a,
        > button {
            @extend .HeroButton;
        }
    }

    @include media-breakpoint-down(md) {
        height: 500px;

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1.3rem !important;
        }
    }

    @include media-breakpoint-down(sm) {
        height: 350px;

        h1 {
            font-size: 1.6rem;
        }

        p {
            font-size: 1rem !important;
        }
    }
}
