/**
 * PressSection CSS component: an horizontal section in the page
 * showing a list of images about press where got mentioned.
 */

@import '../theme';

.PressSection {
    padding: 6rem 1.5rem;

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin: auto;
        max-width: 80rem;

        > li {
            flex: 1 0 auto;
            padding: 2rem 1.5rem;
            text-align: center;

            > img {
                height: 1.8rem;

                @include media-breakpoint-up(lg) {
                    height: 2.1rem;
                }
            }
        }
    }
}
