/**
 * PrimaryNavbar CSS component is the top fixed navbar with logo and user
 * based navigation links.
 */
@import '../theme';
@import "../../../../../node_modules/bootstrap/scss/navbar";
@import "../../../../../node_modules/bootstrap/scss/nav";
@import "../../../../../node_modules/bootstrap/scss/mixins/buttons";
@import "../../../../../node_modules/bootstrap/scss/mixins/transition";

.PrimaryNavbar {
    $scroll-transition: 800ms;

    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-dark;

    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1040;

    padding: 1.8rem 4rem;

    transition: background-color $scroll-transition;

    a {
        transition: color $scroll-transition;
    }

    .PrimaryNavbar-brand {
        @extend .navbar-brand;

        position: relative;

        img {
            height: 75px;
        }
    }

    .PrimaryNavbar-altLogo {
        position: absolute;
        left: 0;
        z-index: 1;
        opacity: 0;
        transition: opacity $scroll-transition;
    }

    .navbar-nav {
        justify-content: flex-end;
        width: 100%;
        text-transform: uppercase;

        .nav-item {
            padding-left: 2em;
        }

        .nav-link {
            color: white;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0.5rem 1.2rem;

        .navbar-collapse {
            // Just below the button
            text-align: right;
            // If using default text-align (left), use next gap
            //padding-top: 1em;
            // Prevent mixim links with back content on mobile when scroll on top (reset at is-scrolling)
            background-color: rgba(0, 0, 0, 0.4);
            // Apply transition to all, since the slide effect from Bootstrap uses transition too
            transition: all $scroll-transition;
        }

        .PrimaryNavbar-brand {
            img {
                height: 50px;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .PrimaryNavbar-signupLink {
            // Like a .btn .btn-secondary
            @include button-variant($secondary, $secondary);
            @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
            @include transition($btn-transition);
            border: $btn-border-width solid transparent;

            // Prevent getting black on scrolling / white navbar
            color: white !important;
        }
    }

    &.is-scrolling {
        @extend .navbar-light;

        background: white;

        a {
            color: $dark !important;
        }

        .PrimaryNavbar-altLogo {
            opacity: 1;
        }

        .navbar-collapse {
            background-color: transparent;
        }
    }
}
